<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Add internet permission for loading Pokemon images -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._526LabLearnAndroid"
        tools:targetApi="31">
        <activity
            android:name=".PartEleven"
            android:exported="false"
            android:label="@string/title_activity_part_eleven"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".Part12Activity"
            android:exported="false"
            android:label="Part12Activity"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".PartTen"
            android:exported="false"
            android:label="@string/title_activity_part_ten"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".PartNine"
            android:exported="false"
            android:label="@string/title_activity_part_nine"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".PartEight"
            android:exported="false"
            android:label="@string/title_activity_part_eight"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="MainActivity"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:label="DetailActivity"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".PartSix"
            android:exported="false"
            android:label="@string/title_activity_part_six"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".PartFive"
            android:exported="false"
            android:label="@string/title_activity_part_five"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".PartFour"
            android:exported="false"
            android:label="@string/title_activity_part_four"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".PartThree"
            android:exported="false"
            android:label="@string/title_activity_part_three"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".PartTwo"
            android:exported="false"
            android:label="@string/title_activity_part_two"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".PartOne"
            android:exported="false"
            android:label="@string/title_activity_part_one"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".Architecture.CounterScreen"
            android:exported="false"
            android:label="@string/title_activity_counter_screen.kt"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".util.SharedPreferenceActivity"
            android:exported="false"
            android:label="@string/title_activity_shared_preference"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".TamJai"
            android:exported="true"
            android:label="@string/title_activity_tam_jai"
            android:theme="@style/Theme._526LabLearnAndroid">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".RPGCardActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".PokedexActivity"
            android:exported="false"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:theme="@style/Theme._526LabLearnAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:exported="false"
            android:theme="@style/Theme._526LabLearnAndroid" />
        <activity
            android:name=".SensorActivity"
            android:exported="false"
            android:theme="@style/Theme._526LabLearnAndroid" /> <!-- Receiver สำหรับ Glance Widget -->
        <receiver
            android:name=".MyGlanceWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_info" />
        </receiver>
    </application>

</manifest>